<%= form_with url: import_people_path, method: :post do |f| %>
  <div class="container">
    <div class="d-flex justify-content-end">
      <% if Person.any? %>
        <div class="btn-group">
          <%= link_to "Clear People", clear_people_path, class: "btn btn-danger",
              data: { turbo_method: :delete,
              turbo_confirm: "Are you sure" }%>
        </div>
      <% else %>
        <%= f.file_field :file, accept: ".csv" %>
        <div class="btn-group">
          <%= f.submit "Upload People", class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
